* {
  color: #636366;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(255,255,255,0);
  transition: all 0.3s ease;
}

a:hover {
  border-bottom: 1px solid rgba(255,255,255,1);
  transition: all 0.3s ease;
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('assets/8.png') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 105, 145, 0.7), rgba(0, 0, 0, 0.5));
  min-height: 600px;
  width: 100%;
  z-index: 100 !important;
}

.jumbotron .container {
  padding-top: 100px;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h4,
.jumbotron h5 {
  color: #fff;
}

.jumbotron h4 {
  margin: 0px;
}
.jumbotron h5 {
  margin: 30px 0px;
}

input[type="submit"], .jumbotron input[type=text], .jumbotron input[type=email] {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;

  height: 40px;
  width: 150px;
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 200;
  border: 1px solid #fff;
  border-radius: 4px;
  margin: 15px 0px 0px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  box-sizing: border-box;
  padding: 0px;
}

input[type="submit"] {
  margin-left: 10px;
  background: #fb4f4f;
  border: none;
}

.jumbotron input[type=text], .jumbotron input[type=email] {
  background: transparent;
  text-align: left;
  width: 100%;
  max-width: 300px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
}

input[type="submit"]:hover {
  background: #ff3b3b;
  color: #fff;
}

input[type="submit"]:active {
  outline: none;
}

.classyHidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
.classyShow {
  max-height: 500px;
  opacity: 1;

  transition: opacity 0.3s ease-in, max-height 0.6s ease-in;
}

.bg-white {
  background: #fff;
}

.bg-grey {
  background: #243344;
}

.header-2 {
  background: #000;
  background-image: url('assets/1.jpg');
  background-size: cover;
  background-position: right bottom;#3FA1C6, #036CA9
  width: 100%;
  color: #ffffff;
}

.header-3 {
  background: #000;
  background-image: url('assets/6.jpg');
  background-size: cover;
  background-position: left center;
  width: 100%;
  color: #ffffff;
}

.bg-parallax * {
  color: #fff;
}


.three-feature {
  max-width: 282px;
  margin: 0 auto;
}

.feature-1 {
  background: url('assets/greyicon_1_car.png') no-repeat;
}
.feature-2 {
  background: url('assets/greyicon_2_trees.png') no-repeat;
}
.feature-3 {
  background: url('assets/greyicon_3_hikers.png') no-repeat;
}

.img {
  background-size: contain;
  background-repeat: no-repeat;
}

.img-logo {
  position: absolute;
  top: 35px;
  left: 35px;
  background-image: url('assets/wanderlogo.png');
  height: 25px;
  width: 126px;
}

a.contact-button {
  position: absolute;
  display: block;
  border: 1px solid #fff;
  background: rgba(255,255,255,0);
  top: 29px;
  right: 25px;
  padding: 5px 15px;
  text-align: center;
  border-radius: 4px;
  transition: all 0.3s ease;
}

a.contact-button:hover {
  background: rgba(255,255,255,0.2);
  transition: all 0.3s ease;
}

.hiddenButton-1, .hiddenButton {
  display: none;
}

@media screen and (min-width: 6005px) {
  .hiddenButton {
    visibility: hidden;
    display: inline;
  }
  .hiddenButton-1 {
    display: inline;
    visibility: visible;
  }
  .hiddenButton-4 {
    display: none;
  }
}

.instagram {
  max-width: 1200px;
  width: 100%;
}

.c-green {
  padding-bottom: 20px; 
}

.green {
  background: url(assets/green_leaf.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100px;
  padding-left: 95px;
  box-sizing: border-box;
}
.green p, .green h3 {
  margin: 0px;
}

#instagram div:last-of-type {
  position: relative;
  overflow: hidden;
  display: block !important;
}

#instagram div:last-of-type:before {
  pointer-events: none;
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 6px;
  right: 0;
  background: rgba(0, 105, 145, 0.6);
}

#instagram div:last-of-type:after {
  pointer-events: none;
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 6px;
  right: 0;
  background: url(assets/instaoverlay.png);
  background-size: contain;
  background-position: center center;
}

.instapic {
  position: relative;
}
.instapic img {
  width: 100%;
  height: auto;
}

footer {
  padding: 30px 15px;
}

footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer-icon, .footer-icon:hover {
  height: 20px;
  width: 20px;
  background-size: contain;
  text-decoration: none;
  display: block;
  border: none;
  background-repeat: no-repeat;
}

.footer-icon-fb {
  background-image: url(assets/facebook_icon.png);
}
.footer-icon-tw {
  background-image: url(assets/twitter_icon.png);
}
.footer-icon-in {
  background-image: url(assets/instagram_icon.png);
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.no-left-margin {
  margin: 10px 0px 0px !important;
}

@media screen and (max-width: 719px) {
  .green {
    background-size: initial;
    min-height: 100px;
    padding-top: 95px;
    padding-left: 0px;
    background-position: top center;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 390px) {
  .footer-left, .footer-right {
    float: none;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
  }
}

@media screen and (max-device-width: 800px) {
  .jumbotron {
    background-color: #3FA1C6;
    background-image: url('assets/headerimage_1.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #bgvid { display: none; }
}

::-webkit-input-placeholder { color: #ddd; }
:-moz-placeholder { color: #ddd; }
::-moz-placeholder { color: #ddd; }
:-ms-input-placeholder { color: #ddd; }